<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="./styles.css" />
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Catppuccin Webring</title>
	</head>
	<body>
		<header>
			<h1>Welcome to the Catppuccin Webring!</h1>
			<div class="links">
				[<a href="/catppuccin/previous/">&larr; Previous</a>
				<a href="/catppuccin/next/">Next &rarr;</a>]
			</div>
		</header>
		{{ table_of_sites | safe }}
		<footer>
			<p>Last updated at {{ current_time }}.</p>
			<p>
				This webring is not officially affiliated with
				<a href="https://catppuccin.com/">Catppuccin</a>.
			</p>
			<p>
				Find us on
				<a href="https://github.com/isabelroses/catppuccin-webring">GitHub</a>.
			</p>
			<p>
				Powered by
				<a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!
			</p>
		</footer>
	</body>
</html>
